# Carpeta "catboost_info" para la sesión que lo requiera
**/catboost_info/

# Materiales de cada sesión
**/material/

# sesion5
/sesion5/notebooks/code-alumno-funciones.R
/sesion5/notebooks/code-alumno.R
/sesion5/notebooks/code-profesor.Rmd
/sesion5/reports/script_model.html
/sesion5/references/presentacion.pdf